* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}

