.results {
  background-color: #fff;

  .player {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      box-shadow: 0 1px 1px rgba(#000, .14);
      color: #333;
      display: inline-flex;
      border-radius: 8px;
      flex: 1;
      font-size: 1.250rem;
      font-weight: 400;
      justify-content: space-between;
      margin: 1rem;
      padding: 8px 16px;

      span {
        color: #9e9e9e;
      }
    }
  }
}
